@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0%;
    margin: 0%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
thead {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f1f1f1;
}
.relative {
    padding: 16px;
}
.dark th, .dark td {
    color: white;
    border-color: #555;
}
